# Ignore virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Environment variable files
.env
.env.*

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec
dist/
build/

# Git metadata (already tracked)
*.swp
*.swo
